@model UserBase.Models.UserModel

@{
    ViewBag.Title = "UserBase";
}

<div class="jumbotron">
    <h1>Add User</h1>

    <p class="lead">Add a user using the form below.</p>

    @using (Html.BeginForm())
    {
        <div>@Html.LabelFor(model => model.userRecord.FirstName, "First Name")</div>
        <div>@Html.TextBoxFor(model => model.userRecord.FirstName)</div>

        <div>@Html.LabelFor(model => model.userRecord.LastName, "Last Name")</div>
        <div>@Html.TextBoxFor(model => model.userRecord.LastName)</div>

        <div>@Html.LabelFor(model => model.userRecord.Email, "Email")</div>
        <div>@Html.TextBoxFor(model => model.userRecord.Email)</div>

        <div style="margin-top:20px;"><input type="submit" value="Create user" /></div>
    }

</div>