@model UserBase.Models.UserModel

@{
    ViewBag.Title = "UserBase";
}

<div class="jumbotron">
    <h1>Add User</h1>

    <p class="lead">Add a user using the form below.</p>

    @using (Html.BeginForm())
    {
        <div class="form-group">
            <div>@Html.LabelFor(model => model.userRecord.FirstName, "First Name")</div>
            <div>@Html.TextBoxFor(model => model.userRecord.FirstName, new {@class="form-control"})</div>
        </div>
        <div class="form-group">

            <div>@Html.LabelFor(model => model.userRecord.LastName, "Last Name")</div>
            <div>@Html.TextBoxFor(model => model.userRecord.LastName, new { @class = "form-control" })</div>
        </div>
        <div class="form-group">

            <div>@Html.LabelFor(model => model.userRecord.Email, "Email")</div>
            <div>@Html.TextBoxFor(model => model.userRecord.Email, new { @class = "form-control" })</div>
        </div>

        <div style="margin-top:20px;"><button type="submit" class="btn btn-primary">Create user</button></div>
    }

</div>